body:has(.sd-rating) {

    /* Center header */
    .sd-page__title {
        text-align: center;
        width: 100%;
        margin: 0px !important;
    }

    /* Center footer */
    .sd-action-bar {
        justify-content: center;
    }

    /* Reduce footer padding */
    .sd-body__navigation {
        padding-top: 25px !important;
        padding-bottom: 0px !important;
    }

    /* Reduce page padding */
    .sd-body.sd-body--responsive {
        padding: 20px;
    }

    /* Remove space between rows */
    .sd-row {
        margin: 0px !important;
    }

    /* Center image */
    .sd-question {
        display: flex;
        justify-content: center;
    }

    /* Center scale, shrink wrap box */
    .sd-element--with-frame {
        width: fit-content;
        margin: 0 auto;
        padding: 25px 60px 15px;
    }

    /* Shrink rating buttons */
    .sd-rating__item {
        --base-unit: 7px;
    }

    /* Increase rating button gaps, add padding to fit labels */
    .sd-rating fieldset {
        gap: 10px;
    }

    /* Center label text */
    .sd-rating__item-text.sd-rating__min-text,
    .sd-rating__item-text.sd-rating__max-text {
        position: absolute;
        text-align: center;
        white-space: pre-line;
        max-width: 120px;
    }

    .sd-rating__item-text.sd-rating__min-text {
        left: 0;
        transform: translate(-30%, -25%);
    }

    .sd-rating__item-text.sd-rating__max-text {
        right: 0;
        transform: translate(25%, -25%);
    }

    /* Allow label overflow under each button */
    .sd-rating--wrappable .sd-rating__item-text .sv-string-viewer {
        text-overflow: initial;
        overflow: visible;
        display: flex;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
    }
}